.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__d4Lty {
  display: flex;
  position: relative;
  max-width: var(--token--mQqsxulo64r);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__d4Lty > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__d4Lty > :global(.__wab_flex-container) > *,
.freeBox__d4Lty > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d4Lty > :global(.__wab_flex-container) > picture > img,
.freeBox__d4Lty
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__d4Lty {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__d4Lty > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__d4Lty > :global(.__wab_flex-container) > *,
  .freeBox__d4Lty > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__d4Lty > :global(.__wab_flex-container) > picture > img,
  .freeBox__d4Lty
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mLUt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__mLUt {
    justify-content: center;
  }
}
.freeBox__e8OCk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__vLz8K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__vLz8K {
    text-align: center;
  }
}
.freeBox__ecc1H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ecc1H {
    align-self: center;
    justify-content: center;
  }
}
.svg__v86UU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__yc4Cn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__s0Rtx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__nmLz0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column___7AQjs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___7AQjs {
    justify-content: center;
  }
}
.h4__oq0Yx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__oq0Yx {
    text-align: center;
  }
}
.button___0CyXd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___0CyXd:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__ibXUq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__fhbxa {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__fhbxa {
    text-align: center;
  }
}
.svg__cvBkb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rxich:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__rxich:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__eGs5X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__t53Yb {
  color: #92959b;
}
.svg__tQl2Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ylbLa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ylbLa:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__kGPeW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dYc4N {
  color: #92959b;
}
.svg__qT8R9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zvwpG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__zvwpG:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__xks5N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dkCeu {
  color: #92959b;
}
.svg__s41Le {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__vtq02 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__vtq02 {
    justify-content: center;
  }
}
.h4__lPiGw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__lPiGw {
    align-self: center;
    text-align: center;
  }
}
.button__ymWpP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ymWpP:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__cv76J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__msI7N {
  color: #92959b;
}
.svg__bfOiw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__xSune:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__xSune:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__mmXRn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__x44Ec {
  color: #92959b;
}
.svg__yE3X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__w3Qo2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__w3Qo2 {
    justify-content: center;
  }
}
.h4__riNyc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__riNyc {
    align-self: center;
    text-align: center;
  }
}
.button__z0O6M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__z0O6M:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__xgMGo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___37RVn {
  color: #92959b;
}
.svg__pk01L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__fPoYo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__fPoYo:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__xf9Zy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pXIv {
  color: #92959b;
}
.svg__uZla {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__wHw7B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__wHw7B:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__quwuU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__s6FsB {
  color: #92959b;
}
.svg__g2UFf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__h0I0U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text__wt427 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__wt427 {
    padding-top: 129px;
  }
}
